@import "nulling.scss";

.navbar{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: end;
  align-items: center;
  padding: 10px;
  background-color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}
.navbar .menu{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 100px;

}
.navbar .menu a{
  color: white;
}
.navbar .buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;  
  
}
.navbar .buttons button{

  border-radius: 18px;
  height: 47px;
  width: 99px;
  font-size: 17px;
  
}
.first-but{
  background-color: black;
  color: white;
  border: 1px solid white;

}
.second-active{
  color: white;
  background-color: #FB6514;
  border: 1px solid black;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

